/* CSS declarations go here */

@import '{zurb:foundation-sites}/scss/foundation';
@include foundation-everything;


.title-bar-right,
.top-bar {
  background-color: #001a33;
  color: #cce6ff;
  ul {
      background-color: inherit;
  }
  .top-bar-right {
    .user-icon {
      width: 38px;
      height: 38px;
      border-radius: 50%;
    }

    .user-name {
      font-variant: small-caps;
    }

    
    ".dropdown menu" {

    }
    li {
      padding-left: 10px;
    }
  }
}


#widemenu .menu-text {
  padding-top: 0px;
  padding-bottom: 0px;
}


#header-block {
  height: 100vh;
  width: 100%;
  background: url("sabbath_pic.jpg") no-repeat top center scroll;
  background-size: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 1);

  display: table;
  padding: 100px 0;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  #select-an-option {
    padding-top: 50px;
  }

  $button-opacity: 0.8;
  #btn-host-a-meal {
    background-color:rgba(58,219,118,$button-opacity);
    color: #fff;
  }
  #btn-find-a-meal {
    background-color:rgba(33,153,232,$button-opacity);
    color: #fff;
  }

  #main-page-title {
    font-size: 50px;
  }

  #main-page-subtitle {
    font-size: 30px;
  }
}



/* Header Area */
.button-group {
  position: relative;
  display: inline-block;
  margin: 1rem 0;
  font-size: 2rem;
  &:before {
    content: attr(data-grouptype);
    z-index: 99999;
    color: #999;
    display: block;
    font-size: 2rem;
    padding: 0.25em;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 43.5%;
    top: 0.7rem;
  }
  button + button {
    margin-left: 5px;
  }
}

#main-page-subtitle {
  color: white;
  text-shadow: 3px 3px #000000;
  font-size: 2em;

  span {
    background: rgba(125, 112, 95, 0.66);
  }
}