<template name="meal_form">
  <div class="row">
    <div class="small-offset-1 small-10 medium-offset-2 medium-8 large-offset-3 large-6 columns">
      <form id="meal-form" style="display: none; opacity: 0;">
        <fieldset class="fieldset">
          <legend>{{mealFormType}} a Meal</legend>
          <p>
          </p>
          <div class="row">
            <div class="large-6 columns">
              <label>Date
                {{>meal_form_datepicker}}
              </label>
            </div>
            <div class="large-6 columns">
              <label>Meal
                <select>
                  <option value="husker">Dinner</option>
                  <option value="starbuck">Lunch</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-7 columns">
              <label>Address
                <input type="text" placeholder="" />
              </label>
            </div>
            <div class="large-2 columns">
              <label>Apt
                <input type="text" placeholder="" />
              </label>
            </div>
            <div class="large-3 columns">
             <label>Zip code
                <input type="text" placeholder="" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-4 columns">
            <label>{{#if guest}}# Guests (including you){{else}}Available Spots{{/if}}
                <input type="number" name="num_people">
              </label>
            </div>
            <div class="large-4 columns">
            <label>Starting time
                <input type="time" placeholder="12:30pm" />
              </label>
            </div>
            <div class="large-4 columns">
              <label>Meat/Dairy</label>
                <input type="{{meat_dairy_type}}" name="meat_dairy" value="Meat" id="meat_dairy_meat"><label for="meat_dairy_meat">Meat</label>
                <input type="{{meat_dairy_type}}" name="meat_dairy" value="Dairy" id="meat_dairy_dairy"><label for="meat_dairy_dairy">Dairy</label>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <label>Who can you accommodate? (check all the apply)</label>
              <input id="checkbox1" type="checkbox"><label for="checkbox1">Babies</label>
              <input id="checkbox2" type="checkbox"><label for="checkbox2">Kids</label>
              <input id="checkbox3" type="checkbox"><label for="checkbox3">Vegetarians</label>
            </div>

          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Anything you'd like to inform your {{#if guest}}guests{{else}}host{{/if}}? (e.g. pets, if you lots of stairs)
                <textarea placeholder=""></textarea>
              </label>
            </div>
          </div>

          <button type="button" class="{{#if currentUser}}submit-meal{{else}}login-submit-meal{{/if}} button float-right">
            {{#if loggingIn}}
              Logging in...
            {{else}}
              {{mealFormType}} a Meal
            {{/if}}
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</template>

<template name="meal_form_datepicker">
  <input type="text" placeholder="Select weekend...">
</template>