<template name="header">
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

      <!-- off-canvas title bar for 'small' screen -->
      <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
        <div class="title-bar-right">
          {{> right_nav}}
        </div>
      </div>

      <!-- "wider" top-bar menu for 'medium' and up -->
      <div id="widemenu" class="top-bar">
        <div class="top-bar-right">
          {{> right_nav}}
        </div>
      </div>

      <!-- original content goes in this container -->
      <div class="off-canvas-content" data-off-canvas-content>
        {{> UI.contentBlock }}
      </div>

    <!-- close wrapper, no more content after this -->
    </div>
  </div>
</template>


<template name="right_nav">
  <ul class="menu">
    <li class="notifications"><i class="fa fa-bell"></i></li>
    <li class="messages"><i class="fa fa-envelope"></i></li>
    <li class="user-name">Adriana Schulz</li>
    <li><img src="user_icon.jpg" class="user-icon" /></li>
  </ul>
</template>

<template name="logo">
  <div class="logo2" style="font-family: Arial;font-weight: bold;font-size:1.5em;text-align: left;display: inline-block;text-shadow: 3px 3px black;">
      <div class="table2" style="height: 0.15em;">
        <span style="position: relative;/* width: 3em; */height: 0.15em;width: 3em;/* z-index: 2; *//* box-shadow: 2px 2px black; */">
          <i style="position: absolute;display:inline-block;width:3em;height: 0.15em;background-color: #0F5B78;left:0em;top:0em;/* box-shadow: 2px 2px black; */z-index: 4;"></i>
          <i style="position: absolute;display:inline-block;width: 0.59em;height: 0.15em;background-color: #BF2F11;left: 0.39em;top:0em;z-index: 5;"></i><i style="position: absolute;display:inline-block;width:3em;height: 0.15em;background-color: #0F5B78;left:0em;top:0em;box-shadow: 3px 3px black;/* z-index: -2; */"></i></span>
      </div>
      <div class="text2" style=" position:relative;margin-left: 0.1em;color: #0F5B78;margin-top: -0.51em;z-index: 1;">
      <div style="display: inline-block;position: relative;top: 0.15em;">j</div><div style="display: inline-block;">
        <span style="color: #BF2F11">T</span>able</div>
      </div>
  </div>
</template>
<!-- old orange EF8B2C
EF8B2C -->